<div class="card text-center mt-5 dark">
  <div class="card-header">
    <h5 class="card-title">  
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Age:</strong>
      <%= @friend.age %> |

      <strong>Email:</strong>
      <%= @friend.email %> |
      
      <strong>Phone:</strong>
      <%= @friend.phone %>
    </p>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-warning btn-sm" %>
    <%= link_to 'Back', friends_path, class:"btn btn-info btn-sm" %>
    <%= link_to 'Destroy', @friends, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
  </div>

  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
